@use "variables" as *;

.sitio-de-estudio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: $color-bg;
}

html {
  scroll-behavior: smooth;
}
